.header__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #202020;
    text-transform: uppercase;
    max-width: 236px;
    padding: 0;
    margin: 0;
    position: relative;
    transform-style: preserve-3d;
}

.header__subtitle:nth-child(2) {
    margin-top: 121px;
    margin-bottom: 20px;
}


.header__subtitle:nth-child(2)::before {
    background-color: #e6fe51;
    background-image: url('../../../images/black_vector_shrt.svg');
    background-position: 93% 52%;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 86.527px;
    transform: translateZ(-1px);
    width: 428px;
    position: absolute;
    top: -56px;
    right: 32px;
}