.services__card-descr {
    color: #1A1A1A;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.35;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 350px;
}

.services__card-descr:hover {
    font-weight: 500;
    width: 380px;
    animation: fadeIn linear 1.2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .services__card-descr {
        font-size: 14px;
    }

    .services__card-descr:hover {
        width: 271px;
    }

}