.services__wrapper {
    display: grid;
    grid-template-columns: .52fr 1fr;
    margin-top: 159px;
}

@media screen and (max-width: 1024px) {
    .services__wrapper {
        grid-template-columns: .4fr 1fr;
        margin-top: 91px;
        gap: 114px;
    }
}