.header__quote {
    align-self: center;
    border: 2.6px solid;
    box-sizing: border-box;
    color: #1a1a1a;
    font-size: 17px;
    font-weight: 500;
    height: 178px;
    line-height: 115%;
    margin-bottom: 152px;
    margin-left: 313px;
    padding: 6px 5px 0 12px;
    max-width: 404px;
    width: 100%;
}

@media screen and (max-width: 1441px) {
    .header__quote {
        margin-bottom: 193px;
        margin-left: 148px;

    }
}