.header__quote {
    align-self: center;
    border: 2.6px solid;
    box-sizing: border-box;
    color: #1a1a1a;
    font-size: 17px;
    font-weight: 500;
    height: 178px;
    line-height: 115%;
    margin-bottom: 152px;
    margin-left: 313px;
    padding: 0 15px 0 10px;
    width: 404px;
}