.services__link {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 44px 5px 30px 51px;
}

.services__link svg {
    transform: translate3d(10px, 8px, 10px);
    width: 73px;
    transition: transform .4s linear;
}

.services__link:hover svg {
    width: 100px;
    transform: translate3d(20px, 8px, 10px);
}