.header__container {
    display: grid;
    grid-template-areas:
        "title . script"
        "wrapper nav .";
    grid-template-columns: 570px .9fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;

}