.header__item {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    white-space: nowrap;
    display: inline-flex;
    padding: 13px 32px 19.529px 8px;
    align-items: center;
    max-width: 120px;
}