.services__description {
    color: #1A1A1A;
    text-align: justify;
    font-size: 17px;
    line-height: 1.45;
    padding: 0;
    margin: 0;
    max-width: 328px;
}

.services__description:nth-child(2)::after {
    content: '';
    display: block;
    background-color: #7D88E4;
    width: 125px;
    height: 17px;
    flex-shrink: 0;
    margin: 116px 0 116px 45px;
}

@media screen and (max-width: 1024px) {
    .services__description {
        font-size: 10px;
        max-width: 777px;

    }

    .services__description:nth-child(2)::after {
        margin: 65px 0;
        width: 72px;
        height: 10px;

    }
}