.team__descr {
    color: #626262;
    font-size: 20px;
    font-family: Inter;
    line-height: 130%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    cursor: default;

}

.team__descr::after {
    content: '';
    width: 125px;
    height: 18px;
    flex-shrink: 0;
    background-color: #E6FE51;
    display: block;
    margin-top: 71px;
}