.numbers__list {
    display: flex;
    list-style: none;
    max-width: 1378px;
    margin: 146px auto 78px;
    padding: 0;
    gap: 120px;
    box-sizing: border-box;
    justify-content: space-between;
}