.title-element_special {
    grid-area: wrapper;
    align-self: start;
}

.title-element_special::after {
    background: #1a1a1a;
    content: "";
    display: block;
    height: 18px;
    margin-left: 45px;
    max-width: 46px;
    position: relative;
    top: -200px;
    left: 300px;

}