.header__title {
    color: #1A1A1A;
    font-size: 80px;
    font-weight: 500;
    max-width: max-content;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    transform-style: preserve-3d;
}

.header__title::after {
    background-color: #e6fe51;
    background-image: url('../../../images/black_vector_lng.svg');
    background-position: 91% 53%;
    background-repeat: no-repeat;
    bottom: -45px;
    content: "";
    display: block;
    height: 86.527px;
    left: -224px;
    position: absolute;
    transform: translateZ(-1px);
    width: 428px;
}