.numbers__title {
    color: #1A1A1A;
    font-size: 80px;
    font-weight: 500;
    margin: 198px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    bottom: 55px;
    left: 220px;
    width: 650px;
}

.numbers__title::after {
    content: '02';
    position: relative;
    bottom: 60px;
    color: #1A1A1A;
    font-size: 30px;
    font-weight: 500;
}