.services__description_uppercase {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: left;
    max-width: 350px;
    margin-bottom: 22px;
}