.header__nav {
    align-self: flex-end;
    border: 2.6px solid #000;
    box-sizing: border-box;
    margin-bottom: -95px;
    margin-left: 31px;
    height: 312px;
    max-width: 328px;
    transform: translateZ(2px);
}