/* Общие стили */
@import '../vendor/fonts.css';
@import '../blocks/root/root.css';

@import '../blocks/title-element/title-element.css';
@import '../blocks/title-element/_special/title-element_special.css';

/* Стили для header */
@import '../blocks/header/header.css';
@import '../blocks/header/__container/header__container.css';
@import '../blocks/header/__wrapper/header__wrapper.css';
@import '../blocks/header/__title/header__title.css';
@import '../blocks/header/__subtitle/header__subtitle.css';
@import '../blocks/header/__list/header__list.css';
@import '../blocks/header/__item/header__item.css';
@import '../blocks/header/__nav/header__nav.css';
@import '../blocks/header/__link/header__link.css';
@import '../blocks/header/__span-accent/header__span-accent.css';
@import '../blocks/header/__quote/header__quote.css';

/* Section Services */
@import '../blocks/services/__title/services__title.css';




.services__container {
    display: flex;
    flex-direction: column;
    margin-right: 140px;
}

.services__description {
    color: #1A1A1A;
    text-align: justify;
    font-size: 17px;
    line-height: 1.45;
    padding: 0;
    margin: 0;
    max-width: 328px;
}

.services__description_uppercase {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: left;
    max-width: 350px;
    margin-bottom: 22px;
}

.block-element {
    display: block;
    background-color: #7D88E4;
    width: 125px;
    height: 17px;
    flex-shrink: 0;
    margin: 115px 0;
}

.services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 846px;
    gap: 50px 136px;
}

.services__item {
    display: flex;
    height: 311px;
    max-width: 330px;
    border: 2.6px solid #1A1A1A;
}

.services__link {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 44px 0 30px 51px;
    color: #1A1A1A;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.35;
    text-transform: uppercase;
}

.services__wrapper {
    display: flex;
    margin: 112px 0 0 270px;
}

.card-description {
    color: #1A1A1A;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.35;
    text-transform: uppercase;
    margin: 0;
    max-width: 350px;
    height: 100%;
    transition: width 0.3s ease-in-out;
}

.card-description:hover {
    width: max-content;
}

.card-wrapper {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20px 0 0;
}