.header__year {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-left: 55px;
    margin-bottom: -114px;
}

@media screen and (max-width: 1441px) {
    .header__year {

        margin-left: 135px;

    }
}