.numbers__descr {
    color: #626262;
    font-size: 16px;
    line-height: 145%;
    margin: 0;
    max-width: 220px;
    padding: 0;
    min-height: 99px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.numbers__descr::after {
    content: '';
    display: block;
    width: 125px;
    height: 17px;
    margin-top: 36px;
    flex-shrink: 0;
    background-color: #E6FE51;
}