.team__title {
    color: #1A1A1A;
    font-size: 80px;
    font-weight: 500;
    max-width: max-content;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    bottom: 55px;
    display: flex;
    flex-direction: row-reverse;
    left: 261px;
    transform-style: preserve-3d;
}


.team__title::after {
    background-color: #e6fe51;
    background-image: url('../../../images/black_vector_lng.svg');
    background-position: 91% 53%;
    background-repeat: no-repeat;
    bottom: -45px;
    content: "";
    display: block;
    height: 86.527px;
    left: -224px;
    position: absolute;
    transform: translateZ(-1px);
    width: 428px;
}

.team__title::before {
    content: '03';
    color: #202020;
    font-size: 30px;
    font-weight: 500;
    bottom: 18px;
    left: 5px;
    position: relative;
}